@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fredoka:wght@400;500;700&family=Nunito:wght@200;300;400;600;700&family=Ubuntu:wght@400;700&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
   
}
.wrapper{
    
    padding: 1%;
    width: 90%;
    margin: 0 auto;
}
/* menu */
.menu{
    text-align: center;
    border-bottom: 2px solid rgb(196, 190, 190);
}
.menu li{
    list-style: none;
}
.menu ul li{
    display: inline;
    padding: 4%;
    
}
.menu ul li a{
    text-decoration: none;
    font-weight: 900;
    color: rgb(144, 61, 61);
    border: 1px solid bl;
}
.menu ul li a:hover{
    color: rgb(215, 14, 48);
}

/* main content */
.main{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(219, 232, 244);
    position: relative;
    height: 100%;
    width: 100%;
}
.col{
    width: 30%;
    background: #fff;
    margin: 1%;
    padding: 1%;
    border-radius: 5%;
    text-align: center;
    float: left;
}
.clearfix{
    float: none;
    clear: both;
}
.tbl{
    text-align: center;
    width: 100%;
}

table tr th{
    border-bottom: 1.8px solid rgb(14, 13, 13);
    padding: 1%;
    
}
table tr td{
    padding: 1%;
    max-width: 20px;
}
.ingredients{
    font-size: small;
    
}

.btn-primary{
    background: rgb(114, 114, 193);
    padding: 1%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background: rgb(63, 63, 112);
}
.btn-update{
    background: rgb(78, 184, 106);
    padding: 1%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.btn-update:hover{
    background: rgb(59, 140, 68);
}
.btn-delete{
    background: rgb(205, 91, 71);
    padding: 1%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.btn-delete:hover{
    background: rgb(169, 76, 64);
}
.success{
    color: rgb(44, 204, 44);
}
.error{
    color: red;
}
.tbl-form{
    width: 50%;
}
/* footer  */
.footer{
    position: relative;
    
    width: 100%;
}
.footer .wrapper {
    text-align: center;
    background: rgb(206, 114, 114);
    color: #fff;
    width: 100%;
    
}


/* css for login  */
.login{
    width: 50%;
    border: 1px solid rgb(200, 234, 223);
    margin: 10% auto;
    padding: 2%;
   background-color: rgb(225, 249, 241);
   border-radius: 5%;
}
.login h1, form, input{
    text-align: center;
}
.login form label{
    font-weight: bold;
}
.text-center{
    text-align: center;
}