@import url('https:/fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: url(../image/customer_img/e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo{
    text-align: center;
}

.logo p{
    color: rgb(235, 174, 44);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
   
}
.logo p span{
    color: red;
    
}
.wrapper{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 60%;
    background: transparent;
    width: 30%;
} 

.image img{
    width: 30%;
    height: 30%;
    display: flex;
}
.logreg-box .logreg-title{
    text-align: center;
    margin-bottom: 25px;
    color: black;
}
.logreg-title h2{
   
    font-size: 25px;
}
.logreg-title p{
    font-size: 14px;
    font-weight: 500;
}
.form-box_forgetpassword .logreg-title i{
    font-size: xx-large;

}
.logreg-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 15px 0;
    border-bottom: 2px solid black ;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 13px;
    color: black;
    font-family: 500;
    padding-right: 25px;
  
    
}
.input-box label{
    position: absolute;
    left: 0;
    font-size: 15px;
    color: black;
    font-weight: 500;
    top: 50%;
    transform: translateY(0%);
    pointer-events: none;
    transition: .5s;
    
}


.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;

}
.logreg-box .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: #222;
    font-weight: 600;

}

.logreg-box .logreg-link{
    font-size: 14.5px;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 20px 0 10px;

}
.logreg-box p a{
    color: black;
    text-decoration: none;
    font-weight: 600;

}
.input-box .icon{
    position:absolute;
    font-size: 19px;
    color: black;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.logreg-box .remember-forget{
    font-size: 14.5px;
    color: black;
    font-weight: 500;
    margin: -10px 0 10px;
    display: flex;
    justify-content: space-between;

}
.logreg-boxp a:hover{
    text-decoration: underline;
}
.logreg-link .login-link:hover{
    text-decoration: underline;
}
.logreg-link .register-link:hover{
    text-decoration: underline;
}
.logreg-link .create-link:hover{
    text-decoration: underline;
}
.remember-forget label input{
    accent-color: black;
    margin-right: 3px;
}
.remember-forget a{
    color: black;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.success{
    color: green;
}
.error{
    color: red;
    font-size: x-small;
}