.food-details{
    
    text-align: center;
    width: 50%;
    margin: 5% auto;
    
}
.food-details p{
    font-size: large;
    font-weight: bold;
    margin-top: 2%;
}
.food-details span{
    font-size: medium;
    color: grey;
}
.food-details h5{
    text-align: center;
    font-size: 2.7rem;
    padding-top: .5rem;
    color: #ae3727;
    /* padding-top: 2rem; */
    margin-bottom: 2rem;
    
}
.details{
    background: #fff;
    border: 1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    padding: 3%;
}
.details input{
    background: #eee;
    text-align: center;
    margin-top: -3%;
    width: 90%;
    font-size: medium;
    color: grey;
    padding: 1%;
    border-radius: 5px;

}
.order_ingredients{
    background: #eee;
    text-align: center;
    margin-top: -5px;
    margin-left: 5%;
    width: 90%;
    font-size: medium;
    color: grey;
    
    border-radius: 5px;
}
.width{
    height: 90px;
}
form .input-box .input .order-error{
    font-size: small;
    color: red;
}
.small{
    font-size: 15px;
    text-align: left;
    color: red;
    
}
button{
    background-color: #b1a1e3;
    color: #fff;
    display:block; margin: 0 auto;
    margin-bottom: 10px;
    height: 40px;
    width: 50%;
}

